<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.smc.mapper.DayMapper">

<insert id="plusInsert" parameterType="org.smc.vo.PlusVO">

insert into tbl_plus 
(
plus_no,
plus_5g,
plus_2l,
plus_05l,
plus_03l,
plus_135l,
plus_5g_back_bottle,
plus_5g_back_box,
plus_135_back_bottle,
plus_135l_back_box,
plus_muchine,
plus_mcup,
plus_rcup,
plus_etc,
plus_pl_plus,
plus_pl_minus,
plus_memo,
plus_date
) 
values 
(
seq_plus_no.nextval,
#{plus_5g},
#{plus_2l},
#{plus_05l},
#{plus_03l},
#{plus_135l},
#{plus_5g_back_bottle},
#{plus_5g_back_box},
#{plus_135_back_bottle},
#{plus_135l_back_box},
#{plus_muchine},
#{plus_mcup},
#{plus_rcup},
#{plus_etc},
#{plus_pl_plus},
#{plus_pl_minus},
#{plus_memo},
#{plus_date}
)

</insert>

<select id="plusList" parameterType="String" resultType="org.smc.vo.PlusVO">

select /*+INDEX_ASC(tbl_plus pk_plus_no)*/ * from tbl_plus where plus_date = #{date}

</select>

</mapper>